<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="apiUrl" value="https://pio.bcwanalytics.com"/>
      <add key="appKey" value="OzcQBxoFyaQeZoT4MeYI1qfDQBx87ZVxhbnWRJe-r48E9gHtde7Fiysz2FX7wDBB"/>
      <add key="appId" value="24"/>
      <add key="recommendationEngine" value="itemrec"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>