<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="apiUrl" value="URL"/>
      <add key="appKey" value="KEY"/>
      <add key="appId" value="ID"/>
      <add key="recommendationEngine" value="itemrec"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
