<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="bcwanalytics_apiUrl" value="https://pio.bcwanalytics.com"/>
      <add key="bcwanalytics_appKey" value="P9cbx1CP82iwUljhRLH98fa6ukXGr5msUziFD78tRtThEB27KXFYhPMx8k_pBU_p"/>
      <add key="bcwanalytics_appId" value="1"/>
      <add key="recommendationEngine" value="itemrec"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
